
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/change_password.css' %}"> 
  <h2>Change Password</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.old_password.label_tag }} {{ form.old_password }}
    {{ form.old_password.errors }}
    {{ form.new_password1.label_tag }} {{ form.new_password1 }}
    {{ form.new_password1.errors }}
    {{ form.new_password2.label_tag }} {{ form.new_password2 }}
    {{ form.new_password2.errors }}
    {# Add MFA field #}
    {{ form.mfa_code.label_tag }} {{ form.mfa_code }}
    {{ form.mfa_code.errors }}

    <button type="submit">Change Password</button>
  </form>
{% endblock %}

